apiVersion: v1
kind: Service
metadata:
  name: resume-builder
spec:
  selector:
    app: resume-builder
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4173
      nodePort: 30000
  type: LoadBalancer